.navBar {
    padding: 10px 15px;
}

.container{
    max-width: 1600px !important;
}
.header {
    text-decoration: none;
    color: #27ae60;
}

.items .item {
    margin-left: 23px;
    font-size: 20px;
    text-decoration: none;
}
.icon{
    border-radius: 50%;
    margin-left: 5px;
    color: #192a56;
} 