.navBar {
    padding: 20px 0;
}

.header {
    text-decoration: none;
    color: #27ae60;
}

.items .item {
    margin-right: 20px;
    font-size: 25px;
    text-decoration: none;
    color: #666 !important;
}